.statusError {
  width: 214px;
  height: 214px;
  border-radius: 50%;
  background-color: var(--color-green);
  color: var(--color-white);
  font: var(--font-20-500);
  gap: 9px;

  @include flex-center;
  @include flex-column;
}

.errorCode {
  font: var(--font-64-600);
}
