.pageWrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.page {
  @include absolute-centered-block;
}

.contentWrapper {
  width: 214px;
  height: 214px;
  border-radius: 50%;
  background-color: var(--color-green);
  color: var(--color-white);
  font: var(--font-20-500);
  gap: 9px;

  @include flex-center;
  @include flex-column;

  .errorCode {
    font: var(--font-64-600);
  }
}

.link {
  font: var(--font-24-500);
  margin-top: 50px;
  width: 100%;
  text-align: center;
}