.pageWrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.page {
  @include absolute-centered-block;
}

.link {
  font: var(--font-24-500);
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
