.profileLink {
  position: absolute;
  top: 50%;
}

.dataWrapper {
  margin: 45px 0;
}

.dataField {
  font: var(--font-13-500);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;

  & + & {
    border-top: 1px solid var(--color-light-mint);
  }

  .value {
    color: var(--color-gray);
  }
}

.controlWrapper {
  display: flex;
  @include flex-column;
  gap: 20px;

  font: var(--font-13-500);
}
