.messageWrapper {
  display: flex;
  margin: 10px 20px;

  &.mainMessage {
    justify-content: flex-end;
  }
}

.message {
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  padding: 11px 11px 30px;
  background-color: var(--color-light-gray);
  color: rgb(var(--color-dark-gray));
  font: var(--font-12-500);
  max-width: 400px;

  & + & {
    margin-top: 10px;
  }

  &.mainMessage {
    background-color: var(--color-light-mint);
  }
}

.time {
  position: absolute;
  bottom: 11px;
  right: 11px;
  font: var(--font-8-500);
  color: var(--color-gray);
}
