.label {
  font: var(--font-12-500);
  color: var(--color-green);
  text-decoration: underline;
  cursor: pointer;
  display: block;
  width: 122px;
  margin: 0 auto;
  text-align: center;
}

.inputHide {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file {
  font: var(--font-13-500);
  color: var(--color-medium-gray);
  width: auto;
  min-height: 20px;
  text-align: center;
  text-decoration: none;
}
