.loginPage {
  @include main-layout;
}

.loginCard {
  @include card;
  @include absolute-centered-block;
  @include flex-center;
  @include flex-column;

  .title {
    margin: 20px auto 40px;
    text-align: center;
  }

  .link {
    width: 100%;
    text-align: center;
  }
}

.loginPage_input {
  width: 100%;
  max-width: 280px;
}

.loginPage_form {
  width: 280px;

  button {
    margin-top: 168px;
    margin-bottom: 14px;
  }
}
