.avatar {
  text-align: center;

  @include flex-center;
  @include flex-column;

  gap: 25px;
  font: var(--font-20-600);
}

.changeAvatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @include flex-center;
  @include transition;

  background-color: var(--overlay-shadow);
  color: var(--color-white);
  font: var(--font-13-500);
  transform: translateY(100%);
}

.avatarWrapper {
  --size: 160px;

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  img {
    object-fit: cover;
    width: inherit;
    height: inherit;
  }

  @include tablet {
    --size: 150px;
  }

  @media mobile {
    --size: 100px;
  }

  &:hover .changeAvatar {
    transform: translateY(0);
  }
}
