.card {
  width: fit-content;
  height: 100%;

  border-radius: 12px;
  background: var(--color-white);
  background-color: var(--color-white);
  box-shadow: 0 0 6px rgba(var(--dark-gray), 0.25);

  padding: 30px;

  @media screen and (max-width: $tablet) {
    padding: 20px;
  }

  @media screen and (max-width: $mobile) {
    padding: 10px;
    border-radius: 8px;
  }
}