.input {
  background-color: transparent;
  padding: 5px 0;
  width: inherit;
  border: none;
  border-bottom: 1px solid var(--color-gray);
  outline: 1px;
  font: var(--font-13-500);

  &:focus,
  &:hover:not(&.error) {
    border-bottom-color: var(--color-green);
  }
}

.error {
  border-bottom-color: var(--color-red);
}
