.avatarImage {
  object-fit: cover;
  border-radius: 50%;
  width: 47px;
  height: 47px;
  overflow: hidden;
  background-color: var(--color-light-gray);

  background-image: url('../../../../src/assets/img/default_avatar.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
